
<!DOCTYPE html>
<html>
<head>
  <title>Chuck&#039;s Hop Shop Draft List</title>
  <link href="/assets/application-f5a9be41da644d7a43d2d0f4c422724b.css" media="all" rel="stylesheet" type="text/css" />
  <link href="/favicon.ico" rel="shortcut icon" type="image/vnd.microsoft.icon" />
  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-42067962-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>
</head>
<body>
  <div id="draft_list">
    <table>
  <tr>
    <th>#</th>
    <th>Brewery</th>
    <th>Name</th>
    <th>Pint</th>
    <th>Growler</th>
    <th>Origin</th>
    <th>ABV</th>
  </tr>
    <tr class="draft_odd cider">
      <td class="draft_tap">1</td>
      <td class="draft_brewery">2 Towns</td>
      <td class="draft_name">Bad Apple Cider</td>
      <td class="draft_price">$6.5</td>
      <td class="draft_growler">20.0</td>
      <td class="draft_origin">OR</td>
      <td class="draft_abv">10.5</td>
    </tr>
    <tr class="draft_even cider">
      <td class="draft_tap">2</td>
      <td class="draft_brewery">Seattle Cider</td>
      <td class="draft_name">Tangerine Turmeric Cider</td>
      <td class="draft_price">$6.5</td>
      <td class="draft_growler">20.0</td>
      <td class="draft_origin">WA</td>
      <td class="draft_abv">X</td>
    </tr>
    <tr class="draft_odd cider">
      <td class="draft_tap">3</td>
      <td class="draft_brewery">Seattle Cider</td>
      <td class="draft_name">Dry Cider</td>
      <td class="draft_price">$5.5</td>
      <td class="draft_growler">17.0</td>
      <td class="draft_origin">WA</td>
      <td class="draft_abv">6.5</td>
    </tr>
    <tr class="draft_even cider">
      <td class="draft_tap">4</td>
      <td class="draft_brewery">2 Towns</td>
      <td class="draft_name">Ginja Ninja Cider</td>
      <td class="draft_price">$6.5</td>
      <td class="draft_growler">20.0</td>
      <td class="draft_origin">OR</td>
      <td class="draft_abv">6.0</td>
    </tr>
    <tr class="draft_odd cider">
      <td class="draft_tap">5</td>
      <td class="draft_brewery">Schilling</td>
      <td class="draft_name">Lemon Raspberry Sour Cider</td>
      <td class="draft_price">$9.5</td>
      <td class="draft_growler">29.0</td>
      <td class="draft_origin">WA</td>
      <td class="draft_abv">6.3</td>
    </tr>
    <tr class="draft_even cider">
      <td class="draft_tap">6</td>
      <td class="draft_brewery">Swift</td>
      <td class="draft_name">Dry Apple Cider</td>
      <td class="draft_price">$7.5</td>
      <td class="draft_growler">23.0</td>
      <td class="draft_origin">OR</td>
      <td class="draft_abv">6.0</td>
    </tr>
    <tr class="draft_odd ">
      <td class="draft_tap">7</td>
      <td class="draft_brewery">pFriem</td>
      <td class="draft_name">Witbier</td>
      <td class="draft_price">$6.5</td>
      <td class="draft_growler">20.0</td>
      <td class="draft_origin">OR</td>
      <td class="draft_abv">5.1</td>
    </tr>
    <tr class="draft_even stout">
      <td class="draft_tap">8</td>
      <td class="draft_brewery">Postdoc</td>
      <td class="draft_name">Demon Star BBA Russian Stout</td>
      <td class="draft_price">$9.5</td>
      <td class="draft_growler">29.0</td>
      <td class="draft_origin">WA</td>
      <td class="draft_abv">9.9</td>
    </tr>
    <tr class="draft_odd ">
      <td class="draft_tap">9</td>
      <td class="draft_brewery">Bayern</td>
      <td class="draft_name">Bad Santa Eisbock</td>
      <td class="draft_price">$8.5</td>
      <td class="draft_growler">26.0</td>
      <td class="draft_origin">MT</td>
      <td class="draft_abv">14.0</td>
    </tr>
    <tr class="draft_even ipa">
      <td class="draft_tap">10</td>
      <td class="draft_brewery">Block 15</td>
      <td class="draft_name">Monster Cookies IIPA</td>
      <td class="draft_price">$6.0</td>
      <td class="draft_growler">18.0</td>
      <td class="draft_origin">OR</td>
      <td class="draft_abv">8.2</td>
    </tr>
    <tr class="draft_odd ">
      <td class="draft_tap">11</td>
      <td class="draft_brewery">Silver City</td>
      <td class="draft_name">Bavarian Hefeweizen</td>
      <td class="draft_price">$4.5</td>
      <td class="draft_growler">14.0</td>
      <td class="draft_origin">WA</td>
      <td class="draft_abv">5.3</td>
    </tr>
    <tr class="draft_even ">
      <td class="draft_tap">12</td>
      <td class="draft_brewery">Block 15</td>
      <td class="draft_name">Prophecies Quadrupel</td>
      <td class="draft_price">$5.0</td>
      <td class="draft_growler">15.0</td>
      <td class="draft_origin">OR</td>
      <td class="draft_abv">10.0</td>
    </tr>
    <tr class="draft_odd stout">
      <td class="draft_tap">13</td>
      <td class="draft_brewery">Pelican</td>
      <td class="draft_name">Tsunami Stout</td>
      <td class="draft_price">$7.5</td>
      <td class="draft_growler">23.0</td>
      <td class="draft_origin">OR</td>
      <td class="draft_abv">7.0</td>
    </tr>
    <tr class="draft_even ">
      <td class="draft_tap">14</td>
      <td class="draft_brewery">Silver City</td>
      <td class="draft_name">Ridgetop Red</td>
      <td class="draft_price">$6.5</td>
      <td class="draft_growler">20.0</td>
      <td class="draft_origin">WA</td>
      <td class="draft_abv">6.0</td>
    </tr>
    <tr class="draft_odd ">
      <td class="draft_tap">15</td>
      <td class="draft_brewery">pFriem</td>
      <td class="draft_name">Rauch Helles Lager</td>
      <td class="draft_price">$6.5</td>
      <td class="draft_growler">20.0</td>
      <td class="draft_origin">OR</td>
      <td class="draft_abv">4.8</td>
    </tr>
    <tr class="draft_even ipa">
      <td class="draft_tap">16</td>
      <td class="draft_brewery">Reuben's</td>
      <td class="draft_name">Blimey Triple IPA</td>
      <td class="draft_price">$9.0</td>
      <td class="draft_growler">27.0</td>
      <td class="draft_origin">WA</td>
      <td class="draft_abv">10.5</td>
    </tr>
    <tr class="draft_odd ipa">
      <td class="draft_tap">17</td>
      <td class="draft_brewery">Block 15</td>
      <td class="draft_name">Sticky Hands IIPA</td>
      <td class="draft_price">$6.0</td>
      <td class="draft_growler">18.0</td>
      <td class="draft_origin">OR</td>
      <td class="draft_abv">8.1</td>
    </tr>
    <tr class="draft_even ipa">
      <td class="draft_tap">18</td>
      <td class="draft_brewery">Track 7</td>
      <td class="draft_name">Left Eye Right Eye DIPA</td>
      <td class="draft_price">$6.0</td>
      <td class="draft_growler">18.0</td>
      <td class="draft_origin">CA</td>
      <td class="draft_abv">9.5</td>
    </tr>
    <tr class="draft_odd ipa">
      <td class="draft_tap">19</td>
      <td class="draft_brewery">Reuben's</td>
      <td class="draft_name">Bits And Bobs IPA</td>
      <td class="draft_price">$6.5</td>
      <td class="draft_growler">20.0</td>
      <td class="draft_origin">WA</td>
      <td class="draft_abv">7.0</td>
    </tr>
    <tr class="draft_even ipa">
      <td class="draft_tap">20</td>
      <td class="draft_brewery">Modern Times</td>
      <td class="draft_name">Havnor IPA</td>
      <td class="draft_price">$6.0</td>
      <td class="draft_growler">18.0</td>
      <td class="draft_origin">CA</td>
      <td class="draft_abv">6.7</td>
    </tr>
    <tr class="draft_odd ipa">
      <td class="draft_tap">21</td>
      <td class="draft_brewery">Revision</td>
      <td class="draft_name">Planetary Fog IPA</td>
      <td class="draft_price">$11.0</td>
      <td class="draft_growler">33.0</td>
      <td class="draft_origin">NV</td>
      <td class="draft_abv">7.5</td>
    </tr>
    <tr class="draft_even sour">
      <td class="draft_tap">22</td>
      <td class="draft_brewery">Lindemans</td>
      <td class="draft_name">Jeune Lambic ***8oz***</td>
      <td class="draft_price">$7.0</td>
      <td class="draft_growler">42.0</td>
      <td class="draft_origin">BEL</td>
      <td class="draft_abv">2.5</td>
    </tr>
    <tr class="draft_odd ">
      <td class="draft_tap">23</td>
      <td class="draft_brewery">Crux</td>
      <td class="draft_name">Farmhouse Saison</td>
      <td class="draft_price">$7.0</td>
      <td class="draft_growler">21.0</td>
      <td class="draft_origin">OR</td>
      <td class="draft_abv">7.0</td>
    </tr>
    <tr class="draft_even sour">
      <td class="draft_tap">24</td>
      <td class="draft_brewery">Council Brewing</td>
      <td class="draft_name">Beatitude Sour w/Cherry ***8oz***</td>
      <td class="draft_price">$6.0</td>
      <td class="draft_growler">36.0</td>
      <td class="draft_origin">CA</td>
      <td class="draft_abv">4.5</td>
    </tr>
    <tr class="draft_odd ipa">
      <td class="draft_tap">25</td>
      <td class="draft_brewery">At Large Brewing</td>
      <td class="draft_name">As You Were NE IPA</td>
      <td class="draft_price">$5.0</td>
      <td class="draft_growler">15.0</td>
      <td class="draft_origin">WA</td>
      <td class="draft_abv">7.0</td>
    </tr>
    <tr class="draft_even ">
      <td class="draft_tap">26</td>
      <td class="draft_brewery">Cloudburst</td>
      <td class="draft_name">Pop-a-Shot Pale Ale</td>
      <td class="draft_price">$5.0</td>
      <td class="draft_growler">15.0</td>
      <td class="draft_origin">WA</td>
      <td class="draft_abv">5.2</td>
    </tr>
    <tr class="draft_odd ipa">
      <td class="draft_tap">27</td>
      <td class="draft_brewery">Revision</td>
      <td class="draft_name">Xertz IPA</td>
      <td class="draft_price">$7.0</td>
      <td class="draft_growler">21.0</td>
      <td class="draft_origin">NV</td>
      <td class="draft_abv">7.0</td>
    </tr>
    <tr class="draft_even ipa">
      <td class="draft_tap">28</td>
      <td class="draft_brewery">Block 15</td>
      <td class="draft_name">Dab Lab: Juice Joint IPA</td>
      <td class="draft_price">$5.5</td>
      <td class="draft_growler">17.0</td>
      <td class="draft_origin">OR</td>
      <td class="draft_abv">7.0</td>
    </tr>
    <tr class="draft_odd stout">
      <td class="draft_tap">29</td>
      <td class="draft_brewery">Deschutes</td>
      <td class="draft_name">Black Butte Porter</td>
      <td class="draft_price">$6.0</td>
      <td class="draft_growler">18.0</td>
      <td class="draft_origin">OR</td>
      <td class="draft_abv">5.2</td>
    </tr>
    <tr class="draft_even ">
      <td class="draft_tap">30</td>
      <td class="draft_brewery">Urban Family</td>
      <td class="draft_name">Prospector Hoppy Golden Strong Ale</td>
      <td class="draft_price">$7.5</td>
      <td class="draft_growler">23.0</td>
      <td class="draft_origin">WA</td>
      <td class="draft_abv">9.0</td>
    </tr>
    <tr class="draft_odd sour">
      <td class="draft_tap">31</td>
      <td class="draft_brewery">Mikkeller</td>
      <td class="draft_name">Passion Fruit Berliner Weisse *8oz*</td>
      <td class="draft_price">$6.5</td>
      <td class="draft_growler">38.0</td>
      <td class="draft_origin">NL</td>
      <td class="draft_abv">3.7</td>
    </tr>
    <tr class="draft_even stout">
      <td class="draft_tap">32</td>
      <td class="draft_brewery">Crux</td>
      <td class="draft_name">PCT Porter</td>
      <td class="draft_price">$5.5</td>
      <td class="draft_growler">17.0</td>
      <td class="draft_origin">OR</td>
      <td class="draft_abv">5.5</td>
    </tr>
    <tr class="draft_odd ">
      <td class="draft_tap">33</td>
      <td class="draft_brewery">No-Li</td>
      <td class="draft_name">Spin Cycle Red </td>
      <td class="draft_price">$4.5</td>
      <td class="draft_growler">14.0</td>
      <td class="draft_origin">WA</td>
      <td class="draft_abv">5.5</td>
    </tr>
    <tr class="draft_even ipa">
      <td class="draft_tap">34</td>
      <td class="draft_brewery">Postdoc</td>
      <td class="draft_name">Pop Quiz #7 IPA</td>
      <td class="draft_price">$5.5</td>
      <td class="draft_growler">17.0</td>
      <td class="draft_origin">WA</td>
      <td class="draft_abv">5.5</td>
    </tr>
    <tr class="draft_odd ipa">
      <td class="draft_tap">35</td>
      <td class="draft_brewery">Matchless</td>
      <td class="draft_name">Double Simcoe IPA</td>
      <td class="draft_price">$5.5</td>
      <td class="draft_growler">17.0</td>
      <td class="draft_origin">WA</td>
      <td class="draft_abv">7.0</td>
    </tr>
    <tr class="draft_even ">
      <td class="draft_tap">36</td>
      <td class="draft_brewery">Chuckanut</td>
      <td class="draft_name">Pilsner</td>
      <td class="draft_price">$5.0</td>
      <td class="draft_growler">15.0</td>
      <td class="draft_origin">WA</td>
      <td class="draft_abv">5.0</td>
    </tr>
    <tr class="draft_odd ipa">
      <td class="draft_tap">37</td>
      <td class="draft_brewery">Council Brewing</td>
      <td class="draft_name">In The Blind IPA</td>
      <td class="draft_price">$7.0</td>
      <td class="draft_growler">21.0</td>
      <td class="draft_origin">CA</td>
      <td class="draft_abv">6.4</td>
    </tr>
    <tr class="draft_even ">
      <td class="draft_tap">38</td>
      <td class="draft_brewery">Bellevue </td>
      <td class="draft_name">ESB</td>
      <td class="draft_price">$6.0</td>
      <td class="draft_growler">18.0</td>
      <td class="draft_origin">WA</td>
      <td class="draft_abv">5.6</td>
    </tr>
    <tr class="draft_odd stout">
      <td class="draft_tap">39</td>
      <td class="draft_brewery">Holy Mountain</td>
      <td class="draft_name">Black Beer</td>
      <td class="draft_price">$6.5</td>
      <td class="draft_growler">20.0</td>
      <td class="draft_origin">WA</td>
      <td class="draft_abv">4.0</td>
    </tr>
    <tr class="draft_even ">
      <td class="draft_tap">40</td>
      <td class="draft_brewery">Snoqualmie</td>
      <td class="draft_name">Bunghole Brown Ale</td>
      <td class="draft_price">$5.5</td>
      <td class="draft_growler">17.0</td>
      <td class="draft_origin">WA</td>
      <td class="draft_abv">7.7</td>
    </tr>
    <tr class="draft_odd ipa">
      <td class="draft_tap">41</td>
      <td class="draft_brewery">Aslan</td>
      <td class="draft_name">Stone Cold DDH Pilsner</td>
      <td class="draft_price">$5.5</td>
      <td class="draft_growler">17.0</td>
      <td class="draft_origin">WA</td>
      <td class="draft_abv">5.0</td>
    </tr>
    <tr class="draft_even stout">
      <td class="draft_tap">42</td>
      <td class="draft_brewery">Deschutes</td>
      <td class="draft_name">The Abyss Imperial Stout 2015</td>
      <td class="draft_price">$9.5</td>
      <td class="draft_growler">29.0</td>
      <td class="draft_origin">OR</td>
      <td class="draft_abv">11.0</td>
    </tr>
    <tr class="draft_odd ipa">
      <td class="draft_tap">43</td>
      <td class="draft_brewery">Cloudburst</td>
      <td class="draft_name">Snoozefest Citra IPA</td>
      <td class="draft_price">$5.5</td>
      <td class="draft_growler">17.0</td>
      <td class="draft_origin">WA</td>
      <td class="draft_abv">7.2</td>
    </tr>
    <tr class="draft_even stout">
      <td class="draft_tap">44</td>
      <td class="draft_brewery">Founders</td>
      <td class="draft_name">Porter</td>
      <td class="draft_price">$5.0</td>
      <td class="draft_growler">15.0</td>
      <td class="draft_origin">MI</td>
      <td class="draft_abv">6.5</td>
    </tr>
    <tr class="draft_odd ipa">
      <td class="draft_tap">45</td>
      <td class="draft_brewery">Aslan</td>
      <td class="draft_name">Space Eagle Brett IPA</td>
      <td class="draft_price">$9.5</td>
      <td class="draft_growler">29.0</td>
      <td class="draft_origin">WA</td>
      <td class="draft_abv">7.5</td>
    </tr>
    <tr class="draft_even sour">
      <td class="draft_tap">46</td>
      <td class="draft_brewery">Engine House 9</td>
      <td class="draft_name">Brambles Farmhouse Ale ***8oz***</td>
      <td class="draft_price">$7.0</td>
      <td class="draft_growler">41.0</td>
      <td class="draft_origin">WA</td>
      <td class="draft_abv">6.7</td>
    </tr>
    <tr class="draft_odd ipa">
      <td class="draft_tap">47</td>
      <td class="draft_brewery">Two Beers</td>
      <td class="draft_name">The Other Coast Hazy IPA</td>
      <td class="draft_price">$6.0</td>
      <td class="draft_growler">18.0</td>
      <td class="draft_origin">WA</td>
      <td class="draft_abv">6.5</td>
    </tr>
    <tr class="draft_even stout">
      <td class="draft_tap">48</td>
      <td class="draft_brewery">AleSmith</td>
      <td class="draft_name">BA Numbskull B-Wine '16 ***8oz***</td>
      <td class="draft_price">$12.0</td>
      <td class="draft_growler">72.0</td>
      <td class="draft_origin">CA</td>
      <td class="draft_abv">11.0</td>
    </tr>
    <tr class="draft_odd stout">
      <td class="draft_tap">49</td>
      <td class="draft_brewery">Founders</td>
      <td class="draft_name">NITRO: Oatmeal Stout</td>
      <td class="draft_price">$5.5</td>
      <td class="draft_growler">N/A</td>
      <td class="draft_origin">MI</td>
      <td class="draft_abv">4.5</td>
    </tr>
    <tr class="draft_even stout">
      <td class="draft_tap">50</td>
      <td class="draft_brewery">Track 7</td>
      <td class="draft_name">NITRO Imp Peanut Choc Porter</td>
      <td class="draft_price">$6.5</td>
      <td class="draft_growler">N/A</td>
      <td class="draft_origin">CA</td>
      <td class="draft_abv">7.3</td>
    </tr>
</table>

  </div>
</body>
</html>
