
<!DOCTYPE html>
<html>
<head>
  <title>Chuck&#039;s Hop Shop Draft List</title>
  <link href="/assets/application-f5a9be41da644d7a43d2d0f4c422724b.css" media="all" rel="stylesheet" type="text/css" />
  <link href="/favicon.ico" rel="shortcut icon" type="image/vnd.microsoft.icon" />
  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-42067962-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>
</head>
<body>
  <div id="draft_list">
    <table>
  <tr>
    <th>#</th>
    <th>Brewery</th>
    <th>Name</th>
    <th>Pint</th>
    <th>Growler</th>
    <th>Origin</th>
    <th>ABV</th>
  </tr>
    <tr class="draft_odd cider">
      <td class="draft_tap">1</td>
      <td class="draft_brewery">Finn River</td>
      <td class="draft_name">Pear Cider</td>
      <td class="draft_price">$7.0</td>
      <td class="draft_growler">21.0</td>
      <td class="draft_origin">WA</td>
      <td class="draft_abv">6.5</td>
    </tr>
    <tr class="draft_even cider">
      <td class="draft_tap">2</td>
      <td class="draft_brewery">Tieton</td>
      <td class="draft_name">Apricot Cider</td>
      <td class="draft_price">$5.5</td>
      <td class="draft_growler">17.0</td>
      <td class="draft_origin">WA</td>
      <td class="draft_abv">6.9</td>
    </tr>
    <tr class="draft_odd cider">
      <td class="draft_tap">3</td>
      <td class="draft_brewery">Ace</td>
      <td class="draft_name">Pumpkin Cider</td>
      <td class="draft_price">$4.5</td>
      <td class="draft_growler">14.0</td>
      <td class="draft_origin">CA</td>
      <td class="draft_abv">5.0</td>
    </tr>
    <tr class="draft_even cider">
      <td class="draft_tap">4</td>
      <td class="draft_brewery">Ace</td>
      <td class="draft_name">Joker Dry Cider</td>
      <td class="draft_price">$6.5</td>
      <td class="draft_growler">20.0</td>
      <td class="draft_origin">CA</td>
      <td class="draft_abv">6.3</td>
    </tr>
    <tr class="draft_odd cider">
      <td class="draft_tap">5</td>
      <td class="draft_brewery">Seattle Cider</td>
      <td class="draft_name">Semi-Sweet Cider</td>
      <td class="draft_price">$7.0</td>
      <td class="draft_growler">21.0</td>
      <td class="draft_origin">WA</td>
      <td class="draft_abv">6.5</td>
    </tr>
    <tr class="draft_even cider">
      <td class="draft_tap">6</td>
      <td class="draft_brewery">Locust Cider</td>
      <td class="draft_name">Honey Pear Cider</td>
      <td class="draft_price">$5.5</td>
      <td class="draft_growler">17.0</td>
      <td class="draft_origin">WA</td>
      <td class="draft_abv">6.0</td>
    </tr>
    <tr class="draft_odd ipa">
      <td class="draft_tap">7</td>
      <td class="draft_brewery">Breakside </td>
      <td class="draft_name">Fresh Hop Simcoe IPA</td>
      <td class="draft_price">$8.5</td>
      <td class="draft_growler">N/A</td>
      <td class="draft_origin">OR</td>
      <td class="draft_abv">6.4</td>
    </tr>
    <tr class="draft_even ipa">
      <td class="draft_tap">8</td>
      <td class="draft_brewery">Breakside </td>
      <td class="draft_name">Bright Eyes IPA</td>
      <td class="draft_price">$7.5</td>
      <td class="draft_growler">23.0</td>
      <td class="draft_origin">OR</td>
      <td class="draft_abv">5.1</td>
    </tr>
    <tr class="draft_odd ipa">
      <td class="draft_tap">9</td>
      <td class="draft_brewery">Breakside </td>
      <td class="draft_name">What Rough Beast Hazy IPA</td>
      <td class="draft_price">$6.0</td>
      <td class="draft_growler">18.0</td>
      <td class="draft_origin">OR</td>
      <td class="draft_abv">6.8</td>
    </tr>
    <tr class="draft_even ipa">
      <td class="draft_tap">10</td>
      <td class="draft_brewery">Breakside </td>
      <td class="draft_name">Stay West IPA</td>
      <td class="draft_price">$6.5</td>
      <td class="draft_growler">20.0</td>
      <td class="draft_origin">OR</td>
      <td class="draft_abv">7.3</td>
    </tr>
    <tr class="draft_odd ipa">
      <td class="draft_tap">11</td>
      <td class="draft_brewery">Breakside </td>
      <td class="draft_name">Mic Drop IPA</td>
      <td class="draft_price">$6.0</td>
      <td class="draft_growler">18.0</td>
      <td class="draft_origin">OR</td>
      <td class="draft_abv">7.2</td>
    </tr>
    <tr class="draft_even ipa">
      <td class="draft_tap">12</td>
      <td class="draft_brewery">Breakside </td>
      <td class="draft_name">Precious Snowflake IIPA</td>
      <td class="draft_price">$6.5</td>
      <td class="draft_growler">20.0</td>
      <td class="draft_origin">OR</td>
      <td class="draft_abv">8.0</td>
    </tr>
    <tr class="draft_odd ipa">
      <td class="draft_tap">13</td>
      <td class="draft_brewery">Breakside </td>
      <td class="draft_name">India Golden Ale</td>
      <td class="draft_price">$6.0</td>
      <td class="draft_growler">18.0</td>
      <td class="draft_origin">OR</td>
      <td class="draft_abv">8.1</td>
    </tr>
    <tr class="draft_even ">
      <td class="draft_tap">14</td>
      <td class="draft_brewery">Scuttlebutt</td>
      <td class="draft_name">Amber Ale</td>
      <td class="draft_price">$5.5</td>
      <td class="draft_growler">17.0</td>
      <td class="draft_origin">WA</td>
      <td class="draft_abv">5.1</td>
    </tr>
    <tr class="draft_odd ">
      <td class="draft_tap">15</td>
      <td class="draft_brewery">Big Sky</td>
      <td class="draft_name">Moose Drool Brown</td>
      <td class="draft_price">$4.5</td>
      <td class="draft_growler">14.0</td>
      <td class="draft_origin">MT</td>
      <td class="draft_abv">5.1</td>
    </tr>
    <tr class="draft_even stout">
      <td class="draft_tap">16</td>
      <td class="draft_brewery">Diamond Knot</td>
      <td class="draft_name">Possession Porter</td>
      <td class="draft_price">$5.5</td>
      <td class="draft_growler">17.0</td>
      <td class="draft_origin">WA</td>
      <td class="draft_abv">5.6</td>
    </tr>
    <tr class="draft_odd ">
      <td class="draft_tap">17</td>
      <td class="draft_brewery">Stiegl</td>
      <td class="draft_name">Grapefruit Radler</td>
      <td class="draft_price">$6.0</td>
      <td class="draft_growler">18.0</td>
      <td class="draft_origin">GER</td>
      <td class="draft_abv">2.5</td>
    </tr>
    <tr class="draft_even ">
      <td class="draft_tap">18</td>
      <td class="draft_brewery">Chuckanut</td>
      <td class="draft_name">Kolsch</td>
      <td class="draft_price">$5.0</td>
      <td class="draft_growler">15.0</td>
      <td class="draft_origin">WA</td>
      <td class="draft_abv">5.0</td>
    </tr>
    <tr class="draft_odd ipa">
      <td class="draft_tap">19</td>
      <td class="draft_brewery">Postdoc</td>
      <td class="draft_name">Pop Quiz #4 IPA</td>
      <td class="draft_price">$5.5</td>
      <td class="draft_growler">17.0</td>
      <td class="draft_origin">WA</td>
      <td class="draft_abv">5.5</td>
    </tr>
    <tr class="draft_even ipa">
      <td class="draft_tap">20</td>
      <td class="draft_brewery">Block 15</td>
      <td class="draft_name">Nugg Hugg IPA</td>
      <td class="draft_price">$5.5</td>
      <td class="draft_growler">17.0</td>
      <td class="draft_origin">OR</td>
      <td class="draft_abv">7.0</td>
    </tr>
    <tr class="draft_odd ">
      <td class="draft_tap">21</td>
      <td class="draft_brewery">Pike</td>
      <td class="draft_name">Monk's Uncle Tripel</td>
      <td class="draft_price">$6.5</td>
      <td class="draft_growler">20.0</td>
      <td class="draft_origin">WA</td>
      <td class="draft_abv">9.0</td>
    </tr>
    <tr class="draft_even ">
      <td class="draft_tap">22</td>
      <td class="draft_brewery">Good Life</td>
      <td class="draft_name">Sweet As Pacific Pale</td>
      <td class="draft_price">$6.5</td>
      <td class="draft_growler">20.0</td>
      <td class="draft_origin">OR</td>
      <td class="draft_abv">6.0</td>
    </tr>
    <tr class="draft_odd stout">
      <td class="draft_tap">23</td>
      <td class="draft_brewery">Midnight Sun</td>
      <td class="draft_name">Espresso Black Beer *8oz</td>
      <td class="draft_price">$5.5</td>
      <td class="draft_growler">33.0</td>
      <td class="draft_origin">AK</td>
      <td class="draft_abv">9.7</td>
    </tr>
    <tr class="draft_even stout">
      <td class="draft_tap">24</td>
      <td class="draft_brewery">Fort George</td>
      <td class="draft_name">Cavatica Imperial Stout</td>
      <td class="draft_price">$7.5</td>
      <td class="draft_growler">23.0</td>
      <td class="draft_origin">OR</td>
      <td class="draft_abv">8.8</td>
    </tr>
    <tr class="draft_odd sour">
      <td class="draft_tap">25</td>
      <td class="draft_brewery">Georgetown</td>
      <td class="draft_name">Raspberry Gose</td>
      <td class="draft_price">$4.5</td>
      <td class="draft_growler">15.0</td>
      <td class="draft_origin">WA</td>
      <td class="draft_abv">3.1</td>
    </tr>
    <tr class="draft_even ">
      <td class="draft_tap">26</td>
      <td class="draft_brewery">Holy Mountain</td>
      <td class="draft_name">Bitter Peace ESB</td>
      <td class="draft_price">$5.5</td>
      <td class="draft_growler">17.0</td>
      <td class="draft_origin">WA</td>
      <td class="draft_abv">6.0</td>
    </tr>
    <tr class="draft_odd ">
      <td class="draft_tap">27</td>
      <td class="draft_brewery">Upright</td>
      <td class="draft_name">Soul Dance Saison</td>
      <td class="draft_price">$6.0</td>
      <td class="draft_growler">18.0</td>
      <td class="draft_origin">OR</td>
      <td class="draft_abv">5.4</td>
    </tr>
    <tr class="draft_even sour">
      <td class="draft_tap">28</td>
      <td class="draft_brewery">Engine House 9</td>
      <td class="draft_name">Wild Tacoma Bing Cherry *8oz</td>
      <td class="draft_price">$6.5</td>
      <td class="draft_growler">N/A</td>
      <td class="draft_origin">WA</td>
      <td class="draft_abv">5.8</td>
    </tr>
    <tr class="draft_odd ">
      <td class="draft_tap">29</td>
      <td class="draft_brewery">Founders</td>
      <td class="draft_name">Bourbon Aged Imp Malt Liquor *8oz</td>
      <td class="draft_price">$6.0</td>
      <td class="draft_growler">36.0</td>
      <td class="draft_origin">MI</td>
      <td class="draft_abv">14.2</td>
    </tr>
    <tr class="draft_even sour">
      <td class="draft_tap">30</td>
      <td class="draft_brewery">Firestone</td>
      <td class="draft_name">Sour Opal Saison *8oz</td>
      <td class="draft_price">$9.5</td>
      <td class="draft_growler">56.0</td>
      <td class="draft_origin">CA</td>
      <td class="draft_abv">5.7</td>
    </tr>
    <tr class="draft_odd stout">
      <td class="draft_tap">31</td>
      <td class="draft_brewery">Midnight Sun</td>
      <td class="draft_name">Barfly BB Imp Smoked Stout *8oz</td>
      <td class="draft_price">$7.0</td>
      <td class="draft_growler">44.0</td>
      <td class="draft_origin">AK</td>
      <td class="draft_abv">11.6</td>
    </tr>
    <tr class="draft_even stout">
      <td class="draft_tap">32</td>
      <td class="draft_brewery">Mikkeller</td>
      <td class="draft_name">Beer Geek Breakfast Stout *8oz</td>
      <td class="draft_price">$8.5</td>
      <td class="draft_growler">51.0</td>
      <td class="draft_origin">BL</td>
      <td class="draft_abv">7.5</td>
    </tr>
    <tr class="draft_odd stout">
      <td class="draft_tap">33</td>
      <td class="draft_brewery">Lagunitas</td>
      <td class="draft_name">Imperial Stout</td>
      <td class="draft_price">$5.0</td>
      <td class="draft_growler">15.0</td>
      <td class="draft_origin">CA</td>
      <td class="draft_abv">9.9</td>
    </tr>
    <tr class="draft_even ipa">
      <td class="draft_tap">34</td>
      <td class="draft_brewery">Skookum</td>
      <td class="draft_name">Gene Pool IIPA</td>
      <td class="draft_price">$7.0</td>
      <td class="draft_growler">21.0</td>
      <td class="draft_origin">WA</td>
      <td class="draft_abv">8.0</td>
    </tr>
    <tr class="draft_odd ipa">
      <td class="draft_tap">35</td>
      <td class="draft_brewery">Cloudburst</td>
      <td class="draft_name">Hoodwink Red IPA</td>
      <td class="draft_price">$5.5</td>
      <td class="draft_growler">17.0</td>
      <td class="draft_origin">WA</td>
      <td class="draft_abv">7.2</td>
    </tr>
    <tr class="draft_even ">
      <td class="draft_tap">36</td>
      <td class="draft_brewery">Upright</td>
      <td class="draft_name">English Style Bitter</td>
      <td class="draft_price">$5.5</td>
      <td class="draft_growler">17.0</td>
      <td class="draft_origin">OR</td>
      <td class="draft_abv">3.9</td>
    </tr>
    <tr class="draft_odd ">
      <td class="draft_tap">37</td>
      <td class="draft_brewery">Veltins</td>
      <td class="draft_name">Pilsner</td>
      <td class="draft_price">$5.0</td>
      <td class="draft_growler">15.0</td>
      <td class="draft_origin">GER</td>
      <td class="draft_abv">4.8</td>
    </tr>
    <tr class="draft_even ">
      <td class="draft_tap">38</td>
      <td class="draft_brewery">Bellevue </td>
      <td class="draft_name">Scotch Ale</td>
      <td class="draft_price">$6.5</td>
      <td class="draft_growler">20.0</td>
      <td class="draft_origin">WA</td>
      <td class="draft_abv">7.7</td>
    </tr>
    <tr class="draft_odd ">
      <td class="draft_tap">39</td>
      <td class="draft_brewery">Modern Times</td>
      <td class="draft_name">Lomaland Saison</td>
      <td class="draft_price">$6.5</td>
      <td class="draft_growler">20.0</td>
      <td class="draft_origin">CA</td>
      <td class="draft_abv">5.5</td>
    </tr>
    <tr class="draft_even ">
      <td class="draft_tap">40</td>
      <td class="draft_brewery">7 Seas</td>
      <td class="draft_name">253 Pilsner</td>
      <td class="draft_price">$6.0</td>
      <td class="draft_growler">18.0</td>
      <td class="draft_origin">WA</td>
      <td class="draft_abv">5.2</td>
    </tr>
    <tr class="draft_odd ipa">
      <td class="draft_tap">41</td>
      <td class="draft_brewery">Matchless</td>
      <td class="draft_name">SPF 30 IIPA</td>
      <td class="draft_price">$6.0</td>
      <td class="draft_growler">18.0</td>
      <td class="draft_origin">WA</td>
      <td class="draft_abv">8.5</td>
    </tr>
    <tr class="draft_even ipa">
      <td class="draft_tap">42</td>
      <td class="draft_brewery">Engine House 9</td>
      <td class="draft_name">Ghostwalker IPA</td>
      <td class="draft_price">$5.0</td>
      <td class="draft_growler">15.0</td>
      <td class="draft_origin">WA</td>
      <td class="draft_abv">6.1</td>
    </tr>
    <tr class="draft_odd ipa">
      <td class="draft_tap">43</td>
      <td class="draft_brewery">Urban Family</td>
      <td class="draft_name">Oated IPA</td>
      <td class="draft_price">$5.5</td>
      <td class="draft_growler">17.0</td>
      <td class="draft_origin">WA</td>
      <td class="draft_abv">4.5</td>
    </tr>
    <tr class="draft_even stout">
      <td class="draft_tap">44</td>
      <td class="draft_brewery">Founders</td>
      <td class="draft_name">Porter</td>
      <td class="draft_price">$5.0</td>
      <td class="draft_growler">15.0</td>
      <td class="draft_origin">MI</td>
      <td class="draft_abv">6.5</td>
    </tr>
    <tr class="draft_odd ">
      <td class="draft_tap">45</td>
      <td class="draft_brewery">pFriem</td>
      <td class="draft_name">Kumquat Farmhouse Ale</td>
      <td class="draft_price">$7.5</td>
      <td class="draft_growler">23.0</td>
      <td class="draft_origin">OR</td>
      <td class="draft_abv">4.9</td>
    </tr>
    <tr class="draft_even ipa">
      <td class="draft_tap">46</td>
      <td class="draft_brewery">Dbl Mountain/Ft. George</td>
      <td class="draft_name">River Runs Through It IPA</td>
      <td class="draft_price">$6.0</td>
      <td class="draft_growler">18.0</td>
      <td class="draft_origin">OR</td>
      <td class="draft_abv">6.3</td>
    </tr>
    <tr class="draft_odd ">
      <td class="draft_tap">47</td>
      <td class="draft_brewery">Stoup</td>
      <td class="draft_name">Hefeweizen</td>
      <td class="draft_price">$6.0</td>
      <td class="draft_growler">18.0</td>
      <td class="draft_origin">WA</td>
      <td class="draft_abv">5.0</td>
    </tr>
    <tr class="draft_even ">
      <td class="draft_tap">48</td>
      <td class="draft_brewery">Lost Abbey</td>
      <td class="draft_name">Devotion Belgian Blonde</td>
      <td class="draft_price">$7.0</td>
      <td class="draft_growler">21.0</td>
      <td class="draft_origin">CA</td>
      <td class="draft_abv">6.2</td>
    </tr>
    <tr class="draft_odd ">
      <td class="draft_tap">49</td>
      <td class="draft_brewery">Founders</td>
      <td class="draft_name">NITRO: Rübæus Raspberry Ale</td>
      <td class="draft_price">$6.0</td>
      <td class="draft_growler">N/A</td>
      <td class="draft_origin">MI</td>
      <td class="draft_abv">5.7</td>
    </tr>
    <tr class="draft_even stout">
      <td class="draft_tap">50</td>
      <td class="draft_brewery">Belching Beaver</td>
      <td class="draft_name">NITRO: Peanut Butter Milk Stout</td>
      <td class="draft_price">$6.0</td>
      <td class="draft_growler">N/A</td>
      <td class="draft_origin">CA</td>
      <td class="draft_abv">5.3</td>
    </tr>
</table>

  </div>
</body>
</html>
