<div class='container'>
  <div class="row">
    <h1><center>Nightly Beer Report</center></h1>
    <% @email_beer_list.each do |k,v| %>
      <h2><%= k %></h2>
      <ul>
        <% v.each do |li| %>
          <li><%= li %></li>
        <% end %>
      </ul>
    <% end %>
  </div>
</div>
